---
import AboutLayout from "../components/aboutLayout.astro";
import styles from "../style/pages.module.scss";
---

<AboutLayout>
  <div class={styles.about}>
    <p class={styles.paragraph}>
      I help transform ideas into beautiful, functional websites using creative
      design and the latest technologies.
    </p>
  </div>
</AboutLayout>
