---
import AboutLayout from "../components/aboutLayout.astro";
---

<AboutLayout>
  <div class="flex items-center justify-center flex-1">
    <p
      style="text-wrap: balance;
    animation: classic-fadein 1s ease-in-out forwards, blur-fadein 1s ease-in-out forwards;"
      class="max-w-[23ch] text-4xl leading-tight font-bold text-gray-600 dark:text-gray-300"
    >
      I help transform ideas into beautiful, functional websites using creative
      design and the latest technologies.
    </p>
  </div>
</AboutLayout>
