---
import Hello from "../components/gallery/hello";
import Layout from "../layouts/Layout.astro";
---


<Layout title="Gallery">
    <h1
        transition:name="root_title"
        class="my-8 relative"
        style="animation: fade-with-blur 1s, from-bottom 0.250s;"
    >
        <b>
            <i>Gallery :)</i>
        </b>
    </h1>

    <iframe class="border border-gray-800 rounded-xl p-3" data-why="react">
        <Hello />
    </iframe>
</Layout>
