---
import ProductCard from "../components/projectCard";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

const projects = [
  {
    title: "VVire",
    class: "card-p",
    description:
      "A simple micro blogging platform, with Telegram as auth target and basic editing features",
    links: [
      {
        label: "Visit",
        attributes: {
          href: "https://vvire.vercel.app",
          target: "_blank",
        },
      },
      {
        label: "Source",
        attributes: {
          href: "https://github.com/ilawy/vvire",
          target: "_blank",
        },
      },
    ],
  },
  {
    title: "Quotobia",
    class: "card-r",
    description:
      "Quotobia is a MEAN stack bookstore for browsing, orders, real-time updates, and secure authentication.",
    links: [
      {
        label: "Visit",
        attributes: {
          href: "https://quotobia.o-sad.org/",
          target: "_blank",
        },
      },
      {
        label: "Source",
        attributes: {
          href: "https://github.com/o-some-sad/qutobia",
          target: "_blank",
        },
      },
    ],
  },
  {
    title: "Employee Attendance",
    class: "card-g",
    description:
      "A management system using PHP and SQLite, to help a facility manage its employees status and attendance",
    links: [
      {
        label: "Source",
        attributes: {
          href: "https://github.com/Ilawy/php-attendance",
          target: "_blank",
        },
      },
    ],
  },
];

interface TimePoint {
  label: string;
  title: string;
  description: string;
  duration: "short-term" | "mid-term" | "long-term" | "";
}

const timeline: TimePoint[] = [
  {
    label: "🎓",
    title: "Sept 2019",
    description: "Graduated from High School",
    duration: "",
  },
  {
    label: "🎓",
    title: "May 2023",
    description: "Graduated from Law School, Ain Shams University",
    duration: "mid-term",
  },
  {
    label: "💼",
    title: "Sept 2023",
    description:
      "Worked as a sales advisor for technology products, <a href='https://2b.com.eg' target='_blank'>2B</a>",
    duration: "short-term",
  },
  {
    label: "🏳️",
    title: "Oct 2024",
    description:
      "Joined <a href='https://iti.gov.eg' target='_blank'>ITI</a>, Open source application development track",
    duration: "short-term",
  },
];

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Home">
  <section class="max-w-[70ch] p-3 mx-auto w-full">
    <div class="profile-card">
      <div class="style-frame"></div>
      <!-- <img
        src="https://i.pravatar.cc/150?img=57"
        width="128"
        class="mb-6"
        alt=""
      /> -->
      <h1 class="text-4xl" transition:name="my-name">Mohammed Amr</h1>
      <h3 class="text-sm">Junior Fullstack Developer</h3>
      <p class="text-balance">
        Full-stack developer blending passion and experience to build impactful,
        user-focused software—pixel-perfect where it counts, pragmatic where it
        matters.
      </p>
      <div class="flex gap-3 p-3">
        <a
          class="flex items-center gap-2"
          href="https://github.com/ilawy"
          target="_blank"
          data-no-icon
        >
          GitHub
        </a>
        <a
          class="flex items-center gap-2"
          href="mailto:next.mohammed.amr@gmail.com"
          target="_blank"
          data-no-icon
        >
          Email
        </a>
        <a
          class="flex items-center gap-2"
          href="https://www.linkedin.com/in/ilawy/"
          target="_blank"
          data-no-icon
        >
          LinkedIn
        </a>
      </div>
    </div>
  </section>
  <section class="max-w-[70ch] p-3 mx-auto w-full">
    <div class="profile-card">
      <div class="style-frame"></div>
      <h2 class="text-2xl">Who Am I</h2>
      <p class="text-balance">
        A human, from Egypt, went to law school and graduated in 2023, since then, I'm started learning about what i really like, which is software engineering.
        Now, I'm studying at the <a href="https://iti.gov.eg" target="_blank">ITI</a>, open source application development track.
        currently finding good and challenging freelancing opportunities to work on, so if you have a good idea, let us do magic, <a href="mailto:next.mohammed.amr@gmail.com">send me a mail</a>
      </p>
    </div>
  </section>
  <section class="max-w-[70ch] p-3 mx-auto w-full">
    <div class="profile-card">
      <div class="style-frame"></div>
      <h2 class="text-2xl">Projects</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 relative">
        {
          projects.map((project) => {
            return (
              <ProductCard {project} client:load />
            );
          })
        }
      </div>
    </div>
  </section>
</Layout>

<script>
  import { computePosition, flip, shift, offset } from "@floating-ui/dom";

  const inputs = document.querySelectorAll(
    ".dot input"
  ) as NodeListOf<HTMLInputElement>;
  inputs.forEach((input) => {
    input.addEventListener("click", () => {
      const button = input.parentElement as HTMLLabelElement;
      const tooltip = button.nextElementSibling as HTMLDivElement;

      const outsideHandler = (ev: MouseEvent) => {
        if (
          !(
            ev.composedPath().includes(button) ||
            ev.composedPath().includes(tooltip)
          )
        ) {
          input.checked = false;
        }
      };

      window.addEventListener("click", outsideHandler);

      inputs.forEach((i) => (i.checked = i === input));

      computePosition(button, tooltip, {
        placement: "bottom-end",
        middleware: [
          offset(10),
          flip(),
          shift({
            padding: 5,
          }),
        ],
        strategy: "absolute",
      }).then(({ x, y }) => {
        Object.assign(tooltip.style, {
          left: `${x}px`,
          top: `${y}px`,
        });
      });
    });
  });
</script>
