---
import MainLayout from "../components/mainLayout.astro";
import { css } from "../lib/css";
---

<MainLayout title="Home">
  <main class="w-full h-[100svh] grid grid-cols-3">
    <div class="col-span-full flex flex-col items-center justify-around p-5">
      <div class="flex flex-col gap-3">
        <h2
          class="text-2xl font-bold text-gray-600 dark:text-gray-300 classic-fadein"
          style="--del: 100ms;"
        >
          Hi It's,
        </h2>
        <h1
          class={`text-6xl uppercase font-bold`}
          style="animation: classic-fadein 1s ease-in-out forwards, blur-fadein 1s ease-in-out forwards;"
        >
          Mohammed <br /> Amr
        </h1>
      </div>
      <div class="w-full p-3 flex items-center gap-16 flex-wrap justify-center">
        <span class="text-lg font-bold text-gray-700 dark:text-gray-300">
          SOFTWARE DEVELOPER & DESIGNER
        </span>
        <a
          class="text-lg font-bold underline"
          style="view-transition-name: bio-title;"
          href="/about">ABOUT</a
        >
        <a class="text-lg font-bold underline" href="/projects">PROJECTS</a>
        <a class="text-lg font-bold underline" href="/social">SOCIAL</a>

        <!-- <span></span> -->
      </div>
    </div>
  </main>
</MainLayout>
