---
import MainLayout from "../components/mainLayout.astro";
---

<MainLayout title="About">
  <main class="w-full min-h-[100svh] p-3 flex flex-col md:flex-row">
    <slot />
    <div class="md:basis-1/2 flex items-center justify-center">
      <div
        class="h-fit m-3 flex flex-col items-center justify-center p-6 gap-3 bg-gray-300/10 dark:bg-slate-800/200 rounded-lg w-full max-w-[32ch]"
        style="backdrop-filter: blur(10px);"
      >
        <!-- inner -->
        <!-- <a
          href="/technologies"
          class="g-slate-50 dark:bg-[#535C91] rounded-lg w-full p-3"
          >Technologies</a
        > -->
        <a
          href="/projects"
          class="bg-slate-50 dark:bg-[#535C91] rounded-lg w-full p-3"
          >Projects</a
        >
        <a
          href="/social"
          class="bg-slate-50 dark:bg-[#535C91] rounded-lg w-full p-3">Social</a
        >
        <a href="/" class="bg-slate-50 dark:bg-[#535C91] rounded-lg w-full p-3"
          >Home</a
        >
      </div>
    </div>
  </main>
</MainLayout>
