---
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";
import GhIcon from "../components/icons/ghIcon.astro";
import LinkedInIcon from "../components/icons/linkedInIcon.astro";
interface Props {
	title: string;
}
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Mohammed Amr - {Astro.props.title}</title>
		<ClientRouter />
	</head>
	<body>
		<header class="backdrop-blur-sm p-6 fixed w-full z-10">
			<div
				class="css-container mx-auto flex items-center flex-wrap gap-2"
			>
				<a
					class="flex items-center gap-2"
					href="https://github.com/ilawy"
					target="_blank"
					data-no-icon
				>
					Github
				</a>
				<a
					class="flex items-center gap-2"
					href="https://github.com/ilawy"
					target="_blank"
					data-no-icon
				>
					LinkedIn
				</a>
			</div>
		</header>
		<main
			class="css-main css-container mx-auto h-full min-h-[100svh] p-3 flex flex-col"
		>
			<slot />
			<footer class="mt-auto p-3 flex items-center justify-between">
				<span>Mohammed Amr</span>
				<span>2025 ● <span>All rights reserved</span></span>
			</footer>
		</main>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		min-height: 100%;
		margin: auto;
		line-height: 1.75;
	}

	.css-main {
		padding: 3em 1em;
	}
</style>
